.images {
    height: 250px;
}

.carousel-main-container {
    margin: 20px 0 10px 0;
    height: 18.75rem;
}

.carousel-container {
    height: 300px;
    max-height: 300px;
}

.carousel-inner-container {
    height: 300px;
}

.carousel-image {
    width: 100%;
    height: auto;
    max-height: 300px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .images {
        height: 180px;
    }
}

@media (max-width: 768px) {
    .images {
        height: 160px;
    }
}

@media (max-width: 500px) {
    .images {
        height: 140px;
    }

    .carousel-main-container {
        margin: 5px 0 5px 0;
    }
}

@media (max-width: 425px) {
    .images {
        height: 120px;
    }
}

@media (max-width: 325px) {
    .images {
        height: 100px;
    }
}

@media (max-width: 320px) {
    .images {
        height: 90px;
    }
}