.bgImage1 {
  background-image: url("../public/images/1.png");
  background-size: cover;
  width: 100svw;
  /* height: 100vh; */
  height: fit-content;
}
.bgImage2 {
  background-image: url("../public/images/2.png");
  background-size: cover;
  width: 100svw;
  /* height: 100vh; */
  height: fit-content;
}

.logo {
  /* position: relative; */
  top: 10%;
  left: 10%;
  mix-blend-mode: color-burn;
}

.font {
  font-size: 3em;
  color: white;
  font-weight: 600;
  margin: 10px;
}
.font2 {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.664);
  margin: 10px;
}
@media (max-width: 1024px) {
  /*.bgImage1 {*/
  /*  background-image: url("../public/images/1-1024.png");*/

  /*}*/
  /*.bgImage2 {*/
  /*  background-image: url("../public/images/2-1024.png");*/
  /*  !*background-size: cover;*!*/
  /*  !*width: 100svw;*!*/
  /*  !*!* height: 100vh; *!*!*/
  /*  !*height: fit-content;*!*/
  /*}*/
  .bgImage1 {
    background-image: url("../public/images/default.png");

  }
  .bgImage2 {
    background-image: url("../public/images/default.png");
    /*background-size: cover;*/
    /*width: 100svw;*/
    /*!* height: 100vh; *!*/
    /*height: fit-content;*/
  }
}
@media (max-width: 500px) {
  .logo {
   max-height: 100px;
  }
}