.Category h1 {
    margin-top: 31px;
    color: #171717;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.Category hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    padding: 3px;
    margin: 10px 10px 10px 800px;
    background: #252525;
}

.products-in {
    display: block;
    color: #212529;
    font-size: 30px;
    font-weight: 600;
    margin: 40px;
    text-align: center;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 70px;
}

.last-item-wrapper {
    flex-grow: 1; /* Allow the wrapper to grow and fill available space */
    display: flex;
    justify-content: flex-start; /* Align the last item to the left */
    max-width: calc(33.33% - 20px); /* Adjust based on your grid layout (3 columns) */
}

/*.products-grid {*/
/*    margin-left:  70px;*/

/*}*/
/*.products-grid {*/

/*    display: flex;*/
/*fle*/
/*    align-items: center;*/
/*    gap: 40px;*/
/*}*/

.no_products_found {
    width: 30%;
    margin: 5% 0 0 33%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.category-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
    scrollbar-width: thin;
    justify-content: flex-start;
}

.category-container::-webkit-scrollbar {
    height: 8px;
}

.category-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.category-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.category-pill {
    align-items: start;
    flex-shrink: 0;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.category-pill:hover {
    background-color: #ddd;
}

.category-pill.active {
    background-color: #14b2f1;
    color: white;
}

.net-quantity-container {
    z-index: 10;

    background-color: #ffffff;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.query-generator-button {

    background-color: green;

    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;

}

.net-quantity {

    color: rgba(0, 0, 0, 0.92);
    font-size: 14px;
    background-color: #ffffff;

    font-weight: bold;

}


.query-generator-button:hover {
    background-color: darkgreen;
}

@media (max-width: 1280px) {
    .net-quantity {
        text-align: left;
    }

    .product-item img {
        max-height: 150px;
    }

    .nav-logo-container img {
        width: 40px;
    }

    .nav-logo-container p {
        font-size: 25px;
    }
}

@media (max-width: 1024px) {
    .product-item img {
        max-height: 100px;
    }

    /*.products-grid {*/
    /*    grid-template-columns: 1fr 1fr 1fr;*/
    /*    gap: 10px;*/
    /*}*/

    .category-pill span {
        font-size: 15px;
    }

    .category-pill {
        padding: 5px 20px;
    }
}

@media (max-width: 800px) {
    /*.net-quantity {*/
    /*    text-align: left;*/
    /*    margin-left: 30vi;*/
    /*}*/

    .no_products_found {
        width: 30%;
        margin: 5% 0 0 33%;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
    }

    .Category h1 {
        font-size: 20px;
    }

    .products-in {
        font-size: 18px;
    }

    .query-generator-button {
        width: 200px;
    }

}

@media (max-width: 500px) {
    /*.net-quantity {*/
    /*    text-align: left;*/
    /*    margin-left: 0;*/
    /*}*/

    .no_products_found {
        width: 40%;

    }
    .category-pill span {
        font-size: 12px;
    }

    /*.products-grid {*/
    /*    grid-template-columns: 1fr 1fr;*/
    /*    gap: 10px;*/
    /*}*/

    .products-in {
        font-size: 15px;
    }


}

@media (max-width: 400px) {

}


@media (max-width: 320px) {

}