.item-main-container {
    display: flex;
    width: 17.75rem !important;
    border: 2px solid #008000;
}

.quantity-input-wrapper {
    display: flex;
    flex-direction: row;
}

.item {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(145deg, #ffffff, #f5f5f5);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.item-selected {
    border-color: #10b981;
    background: linear-gradient(145deg, #f0fdf4, #ecfdf5);
}

.item-img {
    width: 50%;
    object-fit: cover;
}



.product-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #4b5563;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-price {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.item-price-old {
    font-size: 16px;
    color: #9ca3af;
    text-decoration: line-through;
}

.item-price-new {
    font-size: 20px;
    color: #10b981;
    font-weight: 700;
}

.MOQ {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 10px;
}

.item-quantity {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.quantity-input {
    width: 70px;
    padding: 6px;
    border: 1px solid #10b981;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}

.view-details {
    bottom: -26px;
    color: white;
    background: green;
    width: 50%;
    right: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .item {
        width: 95%;
        max-width: 550px;

    }


    /*.item-img {*/
    /*    width: 110px;*/
    /*    height: 110px;*/
    /*}*/
    .product-name {
        font-size: 16px;
        max-width: 250px;
    }
    .item-price-old {
        font-size: 14px;
    }
    .item-price-new {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .item {
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 500px;
    }
    .item-details {
        margin-left: 0;
        margin-top: 15px;
        align-items: center;
        text-align: center;
    }
    .item-img {
        width: 100%;
        height: 7rem;
        object-fit: cover;
    }

    .item-main-container {

        width: 12rem !important;

    }
}

@media (max-width: 500px) {
    .item-main-container {
        width: 9.75rem !important;
    }
    /*.item {*/
    /*    width: 90%;*/
    /*    max-width: 500px;*/
    /*}*/
    .item-img {
        width: 100%;
        height: 7rem;
    }
    .product-name {
        font-size: 15px;
        max-width: 180px;
    }

    .view-details {
        width: auto;
    }
}

@media (max-width: 425px) {
    .item-main-container {
        width: 8.75rem !important;
    }
    .item {
        width: 98%;
        padding: 8px;
    }

}

@media (max-width: 320px) {

    .product-name {
        max-width: 130px;
    }
}