.productdisplay {
    display: flex;
    margin: 0 15px;
    color: white;
}

.productdisplay-left {
    display: flex;
    gap: 90px;
    padding: 49px 0;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.productdisplay-img-list img {
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
}

.productdisplay-img-list img.selected-image {
    border: 2px solid #ff4141;
}

.productdisplay-main-img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.productdisplay-right {
    display: flex;
    flex-direction: column;
    margin: 62px 70px;
}

.productdisplay-right h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.productdisplay-right-prices {
    display: flex;
    flex-direction: row;

    gap: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}

.productdisplay-right-prices-old {
    color: white;
    text-decoration: line-through;
}

.productdisplay-right-prices-new {
    color: #ff4141;
}

.productdisplay-right-category {
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

.productdisplay-right-category span {
    font-weight: 600;
}

/*@media (max-width: 1280px) {*/
/*    .productdisplay {*/
/*        margin: 0 60px;*/
/*    }*/

/*    .productdisplay-left {*/
/*        gap: 150px;*/
/*    }*/

/*    .productdisplay-img-list img {*/
/*        height: 120px;*/
/*    }*/

/*    .productdisplay-main-img {*/
/*        width: auto;*/
/*        height: 420px;*/
/*    }*/

/*    .productdisplay-right {*/
/*        margin: 0 30px;*/
/*    }*/

/*    .productdisplay-right h1 {*/
/*        font-size: 22px;*/
/*    }*/


/*    .productdisplay-right-category {*/
/*        margin-top: 5px;*/
/*        font-size: 14px;*/
/*    }*/
/*}*/

@media (max-width: 1024px) {
    .productdisplay {
        margin: 0 30px;
        flex-direction: column;
    }

    .productdisplay-left {
        gap: 125px;
        flex-direction: column;
    }

    .productdisplay-img-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .productdisplay-img-list img {
        height: 80px;
        border-radius: 7px;
    }

    .productdisplay-main-img {
        width: 405px;

    }

    .productdisplay-right {
        margin: 0 30px;
    }

    .productdisplay-right h1 {
        font-size: 18px;
    }



    .productdisplay-right-category {
        margin-top: 3px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .productdisplay {
        margin: 0 10px;
    }

    .productdisplay-left {
        gap: 80px;

    }

    .productdisplay-img-list img {
        cursor: pointer;
        transition: opacity 0.3s ease;
    }

    .productdisplay-img-list img.selected-image {
        opacity: 0.7;
        border: 2px solid #ff4141;
    }

    .productdisplay-img-list img:hover {
        opacity: 0.8;
    }

    .productdisplay-main-img {

        height: 200px;
    }

    .productdisplay-right {
        margin: 0 30px;
    }

    .productdisplay-right h1 {
        font-size: 16px;
    }



    .productdisplay-right-description {
        font-size: 10px;
    }

    .productdisplay-right-size {
        margin: 5px 0;
    }

    .productdisplay-right-sizes {
        margin: 10px;
        gap: 5px;
    }

    .productdisplay-right-size h1 {
        margin-top: 10px;
    }

    .productdisplay-right-sizes div {
        padding: 4px 11px;

    }

    .productdisplay-right button {
        width: 120px;
        font-size: 12px;

    }

    .productdisplay-right button svg {
        width: 25px;
    }

    .productdisplay-right-category {
        margin-top: 3px;
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .productdisplay {
        flex-direction: column;
    }

    .productdisplay-left {
        gap: 50px;

    }


    .productdisplay-img-list img {
        height: 75px;
        border-radius: 7px;
    }

    .productdisplay-main-img {
        width: 200px;
    }

    .productdisplay-right {
        margin: 5px;
    }

    .productdisplay-right h1 {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }


    .productdisplay-right-category {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .productdisplay-left {
        gap: 40px;
    }

    .productdisplay-img-list img {
        height: 60px;
    }

    .productdisplay-main-img {
        height: 180px;
    }

    .productdisplay-right h1 {
        font-size: 18px;
    }


    .productdisplay-right-category {
        font-size: 14px;
    }
}

@media (max-width: 325px) {
    .productdisplay-left {
        gap: 30px;
    }

    .productdisplay-img-list img {
        height: 50px;
    }

    .productdisplay-main-img {
        height: 150px;
    }

    .productdisplay-right h1 {
        font-size: 16px;
    }

    .productdisplay-right-prices {
        font-size: 12px;
    }

    .productdisplay-right-category {
        font-size: 12px;
    }
}